@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #004A50;
    box-sizing: border-box;
    overflow-x: auto;
}


/* styles/globals.css */
@keyframes flyUpFadeAway {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-300px);
    }
}
.animate-fly-up-fade {
    animation: flyUpFadeAway 3s ease-out forwards;
}
